    .error{
          color: red;
      }

    #header_p_div1{
        height: 40px;
        display: inline-block;
        position: relative;
        top: 50px;
    }
    #header_p_div2{
        display: inline-block;
        float: right;
        text-align:center;
        position: relative;
        top: 50px;
    }
    #header{
        border: 1px solid black;
        height: 90px;
        width: 1300px;
        margin: auto;
    }
    body{
        margin: 0px;
    }
    #mainBody{
        height: 600px;
        width: 1300px;
        border: 1px solid black;
        margin: auto;
    }
    #selectors{
        height:70px;
        width: 1300px;
        border: 1px solid red;
        margin: auto;
        text-align: center;
    }
    #selectors select, input{
        padding: 5px;
    }
    #footer a{
        display: inline;
        font-size: 20px;
        margin-left: 25px;
        position: relative;
    }
    #footer_a_div{
        display: inline-block;
        position: relative;
        height: 25px;
        top:25px;
    }
    #footer{
        border: 1px solid black;
        width: 1300px;
        margin: auto;
        text-align: center;
        height: 50px;
    }
    
    #body{
        width: 1000px;
        margin: auto;
        min-height: 250px;
    }
    #sideBar{
        float: left;
        background-color: indianred;
        width: 20%;
        text-align: center;
        min-height: 250px;
    }
    #sideBar a{
        margin: 10px;
    }
    #main{
        background-color: gray;
    }
    #item{
        width: 200px;
        height: 150px;
        background-color: red;
        margin: 15px;
        float: left;
        display: block;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }